@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Ancizar Serif", serif;
}

.hero{
    height: 90vh;
    background-image: url('../img/pexels-bardalacray-3172830.jpg');
    background-position: center;
    background-size: cover;
}

.overlay{
    position: absolute;
    height: 90vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.navigation{
    position: absolute;
    display: flex;
    width: 80%;
    background-color: rgb(7, 146, 7);
    color: azure;
    left: 10%;
    margin-top: 1.5rem;
    height: 7rem;
    justify-content: space-between;
    z-index: 1;
}

.navigation .logo{
    width: 10%;
    height: auto;
    margin-left: 1rem;
}

.navigation .logo img{
    width: 100%;
    height: auto;
}

.navigation .nav_links{
    margin-right: 3rem;
}

.navigation .nav_links ul{
    display: flex;
    gap: 2rem;
    padding-top: 3rem;
    list-style: none;
}

.navigation .nav_links ul li a{
    text-decoration: none;
    color: rgb(246, 246, 247);
    font-size: 1.2rem;
}

.banner{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 60%;
    z-index: 1;
}

.banner h1{
    color: rgb(7, 146, 7);
    font-size: 3rem;
}

.motto{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 30%;
    z-index: 1;
}

.motto h3{
    color: aliceblue;
    font-size: 1.5rem;
}

.callToAction{
    position: absolute;
    top: 62%;
    left: 10%;
    background: rgb(7, 146, 7);
    padding: 1rem 2rem;
    z-index: 1;
}

.callToAction a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2rem;
}

.arrow{
    position: absolute;
    top: 75%;
    left: 10%;
    height: 5rem;
    width: auto;
    z-index: 1;
}

.arrow img{
    height: 100%;
    width: auto;
    
}

.divider{
    width: 100%;
    background-color: rgb(7, 146, 7);
    height: 2px;
    margin-top: .5rem;
}

.objectives{
    height: 100vh;
}